<div class="application" [ngClass]="{'closed-nav': isMenuClosed, 'overlay-nav':isOverlayMenuMode,
    'small-nav':isMenuCollapsed, 'small-nav-mode':isSmallMenuMode, 'fixed-header': isFixedHeader}">


  <header class="d-flex justify-content-start align-items-center">
    <div class="menu" (click)="isMenuClosed = !isMenuClosed; onSideNavModeChange()">
      <i class="material-icons">menu</i>
    </div>
    <!-- <div class="search input-group">
      <input type="text" class="form-control pr-2 py-0" placeholder="Search">
      <div class="input-group-append">
        <i class="material-icons pr-2">search</i>
      </div>
    </div> -->

    
    <div class="ml-auto d-flex justify-content-start align-items-center">
     <!--  <img class="user-avatar d-none d-md-block" src="/assets/images/avatars/avatar-1.png"> -->
      <div class="user-name d-none d-md-block">{{currentUser.name}}</div>
      <div ngbDropdown class="dropdown-no-toggle dropdown-bounce" placement="bottom-right">
        <i class="material-icons px-4" ngbDropdownToggle>keyboard_arrow_down</i>
        <div ngbDropdownMenu class="dropdown-menu">
          <div class="dropdown-header d-flex justify-content-end align-items-center">
          <!--   <img class="user-avatar" src="/assets/images/avatars/avatar-1.png"> -->
            <div class="user-name">{{currentUser.name}}</div>
            <i class="material-icons pl-4">keyboard_arrow_up</i>
          </div>
         <!-- <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Messages</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Options</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item d-flex justify-content-end" href="#">
            <span (click)="logOut()">Logout</span>
            <i class="material-icons ml-auto" (click)="logOut()">exit_to_app</i>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div [ngClass]="{'container-fluid': !isBoxedLayout, 'container': isBoxedLayout}"
         [@routerTransition]="getState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
  <div class="side-nav">
    <div class="back-btn" (click)="isMenuClosed = !isMenuClosed; onSideNavModeChange()">
      <!-- <i class="material-icons">navigate_before</i> -->
    </div>
    <div class="logo">
      <a href="/"><!-- <img src="/assets/images/logo.png" width="230px" height="100px"> --></a>
    </div>
    <div class="user-info">
   <!--    <img src="/assets/images/avatars/avatar-1.png"> -->
      <!-- <div>
        <div class="name">John Collins</div>
        <div class="status">online</div>
      </div> -->
    </div>
    <div class="divider"></div>
    <px-gdn-multimenu class="menu" [menuModel]="menuModel" [smallMenu]="isSmallMenuMode"
                      (collapse)="isMenuCollapsed = $event"></px-gdn-multimenu>
  </div>
</div>
 
