<div class="card mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center mb-5"> <img src="assets/images/logo.png" width="200" height="90"></h2>
      <div class="form-group ">
        <label for="email">Reset-Password</label>
        <input type="password" class="form-control" id="email" [(ngModel)]="reset.password">
      </div>
      <div class="mt-5 text-center">
        <button type="submit" class="btn btn-lg px-gdn-btn-outline card-bg" (click)="resetPassword()">Reset Password</button>
      </div>
    <div class="mt-4 text-center"><span routerLink="/login" style="cursor:  pointer; ">Cancel</span></div> 
      <div class="dropdown-divider my-4"></div>
  </div>
</div>
<footer class="text-nowrap">
   2018 <a routerLink="/">Hungry Harvest</a> all rights reserved
</footer>